@import "tailwindcss";

@font-face {
  font-family: "Segoe UI Variable";
  src: url("/fonts/SegoeUIVariable.woff2") format("woff2"),
    url("/fonts/SegoeUIVariable.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Segoe UI Variable", system-ui, -apple-system, BlinkMacSystemFont,
    Arial, sans-serif;
}
